[Unit]
Description=CRI Docker Socket for the Container Runtime
Documentation=https://docs.mirantis.com

[Socket]
ListenStream={{ .CRISocketPath }}
SocketMode=0660
SocketUser=root
SocketGroup=docker

[Install]
WantedBy=sockets.target