apiVersion: v1
kind: Pod
metadata:
  name: kube-haproxy
  namespace: kube-system
spec:
  containers:
  - name: kube-haproxy
    image: {{ .Image }}
    command:
    - haproxy
    - -f
    - /usr/local/etc/haproxy/haproxy.cfg
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 10257
        scheme: HTTPS
      initialDelaySeconds: 10
      periodSeconds: 10
      successThreshold: 1
      timeoutSeconds: 15
    volumeMounts:
    - mountPath: /usr/local/etc/haproxy/haproxy.cfg
      name: haproxy-cfg
      readOnly: true
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/haproxy/haproxy.cfg
      type: FileOrCreate
    name: haproxy-cfg
