apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  # Configure calicoNetwork with your IPv4 CIDR.
  calicoNetwork:
    ipPools:
    - blockSize: 26 # Default or from CalicoConfig
      cidr: "{{ .PodCIDR }}" # Mandatory
      # Example of using CalicoConfig fields:
      encapsulation: "{{ .CalicoConfig.IPIPMode | default "IPIP" }}"
      natOutgoing: "{{ .CalicoConfig.NatOutgoing | default true }}"
      nodeSelector: all()
{{ if .CalicoConfig.TyphaEnabled }}
  typhaDeployment:
    spec:
      template:
        spec:
          nodeSelector:
            kubernetes.io/os: linux # Example selector, could be configurable
      replicas: {{ .CalicoConfig.TyphaReplicas | default 2 }}
{{ end }}
  # Other Calico settings can be added here
```
