# This is the configuration file for etcd.

# Member name.
name: '{{.Name}}'

# Path to the data directory.
data-dir: '{{.DataDir}}'

# List of comma separated URLs to listen on for peer traffic.
listen-peer-urls: '{{.ListenPeerURLs}}'

# List of comma separated URLs to listen on for client traffic.
listen-client-urls: '{{.ListenClientURLs}}'

# List of this member's peer URLs to advertise to the rest of the cluster.
initial-advertise-peer-urls: '{{.InitialAdvertisePeerURLs}}'

# List of this member's client URLs to advertise to the public.
advertise-client-urls: '{{.AdvertiseClientURLs}}'

# Initial cluster configuration for bootstrapping.
initial-cluster: '{{.InitialCluster}}'

# Initial cluster token for the etcd cluster during bootstrap.
initial-cluster-token: '{{.InitialClusterToken}}'

# Initial cluster state ('new' or 'existing').
initial-cluster-state: '{{.InitialClusterState}}'

# TLS configuration for client-to-server traffic.
client-transport-security:
  cert-file: '{{.CertFile}}'
  key-file: '{{.KeyFile}}'
  client-cert-auth: true
  trusted-ca-file: '{{.TrustedCAFile}}'

# TLS configuration for server-to-server (peer) traffic.
peer-transport-security:
  cert-file: '{{.PeerCertFile}}'
  key-file: '{{.PeerKeyFile}}'
  client-cert-auth: true
  trusted-ca-file: '{{.PeerTrustedCAFile}}'

# Number of committed transactions to trigger a snapshot to disk.
snapshot-count: {{.SnapshotCount}}

# Auto-compaction retention in hours. 0 means disable.
auto-compaction-retention: {{.AutoCompactionRetention}}

# Specify 'zap' for structured logging.
logger: zap
log-outputs: [stderr]