[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network-online.target firewalld.service containerd.service
Wants=network-online.target
Requires=containerd.service

[Service]
Type=notify
# Docker 的可执行文件路径可以通过模板变量来指定，以增加灵活性
ExecStart={{ .ExecStart }}
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStartSec=0
RestartSec=2
Restart=always

# 开启 delegate 以允许容器运行时（如 containerd）管理其自己的 cgroups
# 这对于 Kubernetes 至关重要
Delegate=yes

# a huge number of tasks - recommend for production hosts.
TasksMax=infinity

# set delegate again for firefox
#Delegate=yes

# kill only the docker process, not all processes in the cgroup
KillMode=process

# restart the docker process if it exits prematurely
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

# notify systemd that the daemon has started
Type=notify
NotifyAccess=all


# in systemd, this setting affects the default value of memory.limit
# and other resource limits for services and scopes. By setting it to
# infinity, you are essentially telling systemd not to impose any
# default memory limit on the processes started by this service.
MemoryLimit=infinity


# increase the number of open file descriptors
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target