apiVersion: v1
kind: Pod
metadata:
  name: kube-nginx
  namespace: kube-system
spec:
  containers:
  - name: kube-nginx
    image: {{ .Image }}
    command:
    - nginx
    - -g
    - "daemon off;"
    livenessProbe:
      httpGet:
        path: /
        port: 80
    volumeMounts:
    - mountPath: /etc/nginx/nginx.conf
      name: nginx-cfg
      readOnly: true
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/nginx/nginx.conf
      type: FileOrCreate
    name: nginx-cfg
