[Unit]
Description=containerd container runtime
Documentation=https://containerd.io
After=network.target local-fs.target

[Service]
ExecStartPre=-/sbin/modprobe overlay
ExecStart={{ .ContainerdExecStartPath }}
Type=notify
Delegate=yes
KillMode=process
Restart=always
RestartSec=5
# Having a larger limit for non-root users is important for
# allowing users to run rootless containerd with uidmaps and multiple processes.
# Let's Recommended to raise this limit if you have ever modified it.
LimitNPROC=infinity
# Comment TasksMax if your systemd version does not support it.
# Only systemd 226 and above support this version.
TasksMax=infinity
OOMScoreAdjust=-999

[Install]
WantedBy=multi-user.target