[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes
# 它依赖于 API Server 正常运行
After=kube-apiserver.service

[Service]
# 二进制文件路径
ExecStart=/usr/local/bin/kube-controller-manager \
  # 指向我们在上一步生成的 YAML 配置文件
  --config={{ .RemoteConfigFile }} \
  # 日志级别，仍然作为命令行参数，便于调试
  --v={{ .LogLevel }} \
  # 处理无法放入配置文件的额外参数
  {{- if .ExtraArgsStr }}
  {{ .ExtraArgsStr }}
  {{- end }}

# 失败时总是重启
Restart=on-failure
RestartSec=5
# 确保 Kubelet 的 kubeconfig 指向本地的 apiserver，如果 controller-manager 和 apiserver 不在一台机器上，需要修改
# kubeconfig 文件路径在 YAML 中指定，这里不再需要

[Install]
WantedBy=multi-user.target