apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ .CaPath }}
    server: {{ .ServerURL }}
  name: "kubernetes"
contexts:
- context:
    cluster: "kubernetes"
    user: "{{ .UserName }}"
  name: "{{ .UserName }}@kubernetes"
current-context: "{{ .UserName }}@kubernetes"
users:
- name: "{{ .UserName }}"
  user:
    client-certificate: {{ .ClientCertPath }}
    client-key: {{ .ClientKeyPath }}
