# templates/kubernetes/kubeconfig.tmpl
apiVersion: v1
kind: Config
clusters:
- name: {{ .ClusterName }}
  cluster:
    # 注意：这里的 server 地址应该指向高可用地址或本地安全端口
    server: {{ .APIServerURL }}
    # CA 证书内容，需要 base64 编码
    certificate-authority-data: {{ .CACertDataBase64 }}
contexts:
- name: default
  context:
    cluster: {{ .ClusterName }}
    user: {{ .UserName }}
current-context: default
users:
- name: {{ .UserName }}
  user:
    # 客户端证书和私钥，也需要 base64 编码
    client-certificate-data: {{ .ClientCertDataBase64 }}
    client-key-data: {{ .ClientKeyDataBase64 }}