# /path/to/your/templates/kubernetes/kube-apiserver.service.tmpl
[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes
After=network.target etcd.service

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --config={{ .RemoteConfigFile }} \
  --v={{ .LogLevel }} \
  {{- if .ExtraArgsStr }}
  {{ .ExtraArgsStr }} \
  {{- end }}
  --logtostderr=true

Restart=on-failure
RestartSec=5
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target